dental_appointment_agent/The Dentist appointment handling Agent.json
{
  "name": "The Dentist appointment handling Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4fe15a31-6365-4b96-a3d5-3b02bbe3d31a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        528
      ],
      "id": "34b922fa-e428-498b-bb23-c9bbab42290e",
      "name": "webhook_trigger",
      "webhookId": "4fe15a31-6365-4b96-a3d5-3b02bbe3d31a"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "bharathmunakala22@gmail.com",
          "mode": "list",
          "cachedResultName": "bharathmunakala22@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `The start timestamp for the dental appointment.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `The end time will always be the Start Time plus 1 hour.`, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timezone', ``, 'string') }}",
            "mode": "id",
            "__regex": "([-+/_a-zA-Z0-9]*)"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        864
      ],
      "id": "6e5ef6bb-8cab-4749-bfdd-38fe8ba08e3b",
      "name": "get_availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "egte3nQeF9zxgDAj",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        864,
        864
      ],
      "id": "14312ab8-6877-4892-9c67-271dfc2e1de1",
      "name": "think"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "bharathmunakala22@gmail.com",
          "mode": "list",
          "cachedResultName": "bharathmunakala22@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Start time for the dental appointment. You should assume this is a central timezone timestamp (CST).`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `End time for the dental appointment. This should be 1 hour AFTER the start time. This will be in the Central Time Zone (CST).`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', 'The title/summary of this event should be in the format of \"Dental Appointment | {patient_name}\" where `patient_name` is the provided name of the patient.', 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1184,
        864
      ],
      "id": "43d5bf76-107f-43cc-9d4b-e6aecf1aa17f",
      "name": "create_appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "egte3nQeF9zxgDAj",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1600,
        528
      ],
      "id": "191d4cde-f050-4f31-9ca5-a96afcf2a50f",
      "name": "respond_to_webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13D_ouu_MTAvkhN1wa3xWLpPSNAUEa-2t77CVUmu7w7w",
          "mode": "list",
          "cachedResultName": "Pearly Whites Dental Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13D_ouu_MTAvkhN1wa3xWLpPSNAUEa-2t77CVUmu7w7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1972906042,
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13D_ouu_MTAvkhN1wa3xWLpPSNAUEa-2t77CVUmu7w7w/edit#gid=1972906042"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name__using_to_match_', ``, 'string') }}",
            "Insurance Provider": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Insurance_Provider', ``, 'string') }}",
            "Questions & Concerns": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Questions___Concerns', ``, 'string') }}",
            "Appointment Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Appointment_Timestamp', ``, 'string') }}",
            "Call Timestamp": "={{ $now.toString() }}"
          },
          "matchingColumns": [
            "Patient Name"
          ],
          "schema": [
            {
              "id": "Call Timestamp",
              "displayName": "Call Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insurance Provider",
              "displayName": "Insurance Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Questions & Concerns",
              "displayName": "Questions & Concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Appointment Timestamp",
              "displayName": "Appointment Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1376,
        864
      ],
      "id": "302f236e-f9d9-45a7-9974-1ba3edcb353a",
      "name": "log_patient_details",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AFycOQtZAX9tE4og",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('webhook_trigger').item.json.headers['cf-ray'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        864
      ],
      "id": "24b6ef66-0812-410e-87b6-30dbe9df87eb",
      "name": "simple-memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        864
      ],
      "id": "d515f31c-df7d-4a49-8341-df56c8dc672d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "137cRmySOHPA2zuf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Request Data\n\n{{ JSON.stringify($json.body, null, 2)}} ",
        "options": {
          "systemMessage": "=## Role\nYou are an AI agent handling back office operations at **Pearly Whites Dental**. You receive data, decide which tool to use, and return appropriate results. Use the `tool` value in the request body to guide your decision.\n\n## Available Tools\n\n- **`think`** → MUST use on every turn to think through the request carefully\n- **`get_availability`** → Check calendar availability for given timestamp in CST. **Call multiple times to find AT LEAST 2 available slots per request**\n- **`create_appointment`** → Create 1-hour appointment. **USE ONLY ONCE per request** (multiple uses = FAILURE)\n- **`log_patient_details`** → Log call/patient details to Google Sheet. **USE ONLY ONCE per request** at the very end when all details (name, insurance, questions) are provided (multiple uses = FAILURE)\n\n## Special Instructions: get_availability\n\n**Goal:** Return 2 available timeslots when possible\n\n**Strategy:**\n1. Start with requested time (if provided)\n2. Check nearby times in 30-min or 1-hour increments\n3. Check both earlier and later on same day\n4. Continue until 2 slots found OR reasonable options exhausted\n\n**Checking sequence example:**\n- User requests \"2:00 PM Tuesday\"\n- Check: 2:00 PM → 1:30 PM → 2:30 PM → 1:00 PM → 3:00 PM → 12:30 PM → 3:30 PM...\n- Stop at 2 available slots or after checking business hours\n\n**Business hours:** 8:00 AM - 5:00 PM (skip 12:00-1:00 PM lunch if applicable)\n\n**Response format:**\n```json\n{\n  \"availableSlots\": [\n    \"2026-01-15T14:00:00Z\",\n    \"2026-01-15T16:00:00Z\"\n  ]\n}\n```\n\n**If fewer than 2 slots found:** Return what you found (1 is better than 0)\n\n## Key Constraints\n\n- `get_availability` → Call multiple times per request (to find 2 slots)\n- `create_appointment` → Call ONCE only per request\n- `log_patient_details` → Call ONCE only per request (at end with complete info)\n- All times in CST (Central Time Zone)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        464
      ],
      "id": "231cfdae-8753-440a-ae35-07a4c7e7ad38",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Dental Appointment Video AI Agent\n\nThis workflow manages back-office operations for **Pearly Whites Dental**. It handles patient requests for scheduling, availability checks, and logging details to administrative systems.\n\n### ## How it works\n1. **Request Ingestion**: Captures voice/video transcription from the Trugen platform via Webhook.\n2. **Reasoning Engine**: Uses **GPT-4.1 mini** to classify intent (Booking vs. Availability vs. Logging).\n3. **Action Steps**:\n   - **Availability**: Checks Google Calendar for slots in the Central Time Zone (CST).\n   - **Booking**: Creates 1-hour appointments after finding available slots.\n   - **Logging**: Saves patient insurance and contact details to Google Sheets.\n4. **Feedback Loop**: Returns a structured response back to the video agent to confirm the action.\n\n### ## Setup steps\n1. **Google Auth**: Connect your \"Google Sheets\" and \"Google Calendar\" accounts.\n2. **Database Setup**: Connect the `log_patient_details` node to your \"Pearly Whites\" spreadsheet.\n3. **Calendar Setup**: Select your target calendar in the `get_availability` and `create_appointment` nodes.\n4. **Prompt Config**: Ensure the AI Agent's system prompt reflects any specific clinic rules.\n\n### ## Requirements\n- OpenAI API Credentials\n- Google Workspace Credentials\n",
        "height": 688,
        "width": 616,
        "color": 1
      },
      "id": "243ef74a-c687-4d8a-a58a-e8883503de0d",
      "name": "Main Overview Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🟢 Step 1: Receive Request\nCaptures patient voice transcription.\n- **Webhook Trigger** receives data from Trugen.",
        "height": 320,
        "width": 368,
        "color": 5
      },
      "id": "6f87dd72-e276-4d9f-8aa4-a31aaa8347cc",
      "name": "Step 1 Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔵 Step 2: AI Logic & Dental Tools\nAI decision maker used for scheduling and logging.\n- **OpenAI Agent** for clinical reasoning.\n- **Google Calendar** for dental scheduling.\n- **Google Sheets** for patient records.",
        "height": 752,
        "width": 1088,
        "color": 7
      },
      "id": "a7011521-4f39-4672-8a4c-ec159417dde6",
      "name": "Step 2 Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🟣 Step 3: System Response\nReturns confirmation back to the agent platform.\n- **Respond to Webhook** completes the call.",
        "height": 320,
        "width": 384,
        "color": 6
      },
      "id": "194fcf6f-3672-4877-8f8f-3bca34970ef4",
      "name": "Step 3 Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1536,
        368
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "log_patient_details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "simple-memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "respond_to_webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8f8a2e51-91da-4762-981f-cd1492301cb8",
  "meta": {
    "instanceId": "7f82c7dc5d3565ca21f9b563f673668a6f4ae28af89101e3293618ef29a8ed47"
  },
  "id": "YM3vpo-C62NGxPe_xFgn1",
  "tags": []
}