hr_interview_agent/Trugen's HR Interview Agent.json
{
  "name": "Trugen's HR Interview Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## HR Interview Video AI Agent\n\nThis workflow automates the **End-to-End Interview Process**. It allows you to create an AI interviewer based on a job description, capture candidate responses, and perform a deep AI-driven evaluation.\n\n### ## How it works\n1. **Setup**: Paste your Job Description and click \"Start Setup\" to create a custom Trugen agent.\n2. **Interaction**: Candidates call the agent link. Their conversation is transcribed in real-time.\n3. **Evaluation**: When the call ends, the transcript is sent back via Webhook for structured AI analysis.\n4. **Archive**: Results (Fit Score, Strengths, Concerns) are logged in Google Sheets.\n\n### ## Setup steps\n1. **Job Description**: Paste your requirements into the `📝 Your Job Description` node.\n2. **Initialize**: Click the Manual Trigger node to create your agent.\n3. **Google Auth**: Connect your \"Google Sheets\" account to save links and results.\n4. **Webhook**: Copy the Webhook URL to your Trugen Agent's 'Callback URL' settings.\n\n### ## Requirements\n- OpenAI API Details\n- Google Workspace Access\n- Trugen API Key",
        "height": 672,
        "width": 544
      },
      "id": "42ac2221-23ad-46b8-929d-0ea844e9498d",
      "name": "Main Overview Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// ========== PASTE YOUR JOB DESCRIPTION HERE ==========\n// Simply paste your entire job posting between the quotes below\n// Include everything: job title, company name, requirements, etc.\n\nconst jobDescription = `\nProduct Marketing Manager – TruGen.ai\n\nTruGen.ai is redefining human-computer interaction with hyper-realistic, emotionally intelligent digital communication agents that deliver human-like, real-time conversations at scale. Our proprietary AI technology powers next-generation customer support, sales, HR, and training experiences for leading brands worldwide. We are seeking a dynamic Product Marketing Manager to drive the go-to-market strategy and accelerate adoption of our cutting-edge platform.\n\nResponsibilities\nDevelop and execute go-to-market strategies for new and existing TruGen.ai products, with a focus on driving demand, adoption, and customer engagement.\n\nCraft compelling product positioning and messaging that differentiates our conversational agents and platform in the market.\n\nConduct market, competitor, and user research to identify trends, customer needs, and growth opportunities.\n\nBuild and maintain detailed buyer personas to guide targeted marketing and sales initiatives.\n\nCollaborate closely with product, engineering, and sales teams to align on product vision, roadmap, and feature launches.\n\nLead cross-functional product launches, including launch planning, sales enablement, and campaign execution.\n\nCreate and manage marketing collateral, demos, website content, case studies, and sales tools that clearly communicate product value.\n\nGather and analyze customer feedback and campaign performance data to optimize messaging and marketing programs.\n\nSupport the sales team with training, product presentations, and competitive insights to drive conversions and upsells.\n\nRepresent TruGen.ai at industry events, webinars, and customer meetings as a product evangelist.\n\nRequirements\n4+ years of experience in product marketing, preferably in B2B SaaS, AI, or related technology sectors.\n\nProven track record of launching and scaling innovative technology products, ideally in AI, conversational platforms, or digital agents.\n\nDeep understanding of go-to-market strategies, product positioning, and value-based messaging.\n\nExceptional written and verbal communication skills, including copywriting and storytelling.\n\nStrong analytical skills with experience in market research, data analysis, and campaign optimization.\n\nDemonstrated ability to influence and collaborate with cross-functional teams without direct authority.\n\nExperience supporting sales teams with enablement materials and training.\n\nBachelor’s degree in marketing, business, or a related field; advanced degree a plus.\n\nPassion for emerging technologies, AI, and shaping the future of human-computer interaction.\n\nWhy TruGen.ai?\nJoin a visionary, fast-growing team with deep expertise in AI and conversational agent technology.\n\nShape the future of digital communication and help global brands deliver human-like experiences at scale.\n\nWork with a collaborative, mission-driven team backed by proven founders and industry leaders.\n\nCompetitive compensation, flexible work environment, and opportunities for rapid career growth.\n\nReady to help define the future of human-AI interaction? Apply now and join TruGen.ai!\n`;\n\n// Don't change anything below this line\nreturn [{\n  json: {\n    jobDescription: jobDescription.trim(),\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "id": "2adede86-65f2-44ca-8bea-4028a09f416d",
      "name": "📝 Your Job Description",
      "type": "n8n-nodes-base.code",
      "position": [
        736,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "ec58bb4c-30c1-4da8-8ca9-1bd74b96b0cf",
      "name": "▶️ Click to Start Setup",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        512,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7865fb06-18cf-4a2e-93a7-45e86c7ccada",
              "name": "avatarId",
              "type": "string",
              "value": "60a0926a"
            },
            {
              "id": "b1dce28c-eea1-42bb-9d51-39462d7cea1a",
              "name": "agentName",
              "type": "string",
              "value": "=HR Interview Bot "
            },
            {
              "id": "46f927ce-40b6-4121-b956-e8ee9b0481b1",
              "name": "welcomeMessage",
              "type": "string",
              "value": "Hello! Welcome to our interview. I'm excited to learn about your background and discuss this opportunity with you.   Let's start with you telling me a bit about yourself and what interests you about this position."
            },
            {
              "id": "b5fcf2ac-705d-49c9-84c9-287b20e8b4cb",
              "name": "systemPrompt",
              "type": "string",
              "value": "=You are a professional HR interviewer conducting job interviews. Your goal is to assess candidates thoroughly while making them feel comfortable and valued.  Job Description: {{ $json.jobDescription }} Interview Approach: - Start with a warm welcome and brief introduction - Ask about their interest in the role and company - Explore their relevant experience with specific examples - Assess technical skills and cultural fit - Allow time for their questions - Close professionally with next steps  Be conversational, ask follow-up questions, and show genuine interest in their responses. If they seem nervous, help them feel at ease. Always maintain a professional yet friendly tone."
            },
            {
              "id": "715849ae-8722-40c3-a093-bcc54699e483",
              "name": "jobDescription",
              "type": "string",
              "value": "={{$input.first().json.jobDescription}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ded63a99-8f26-453b-87af-a3036b29e6ee",
      "name": "Prepare Interview Agent",
      "type": "n8n-nodes-base.set",
      "position": [
        992,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const workflowStaticData = $getWorkflowStaticData('global');\n\n\n\nconst agentId = $input.first().json.id;\nconst interviewLink = $input.first().json.call_link;\nconst jobDescription = $('Prepare Interview Agent').first().json.jobDescription;\n\nworkflowStaticData.agentId = agentId;\nworkflowStaticData.jobDescription = jobDescription;\nworkflowStaticData.interviewLink = interviewLink;\n\n\n\nreturn [{\n  json: {\n    \"Agent ID\": workflowStaticData.agentId,\n    \"Agent Name\":$('Prepare Interview Agent').first().json.agentName,\n    \"Interview Link\": interviewLink,\n    \"Job Description\": workflowStaticData.jobDescription,\n    \"System Prompt\": $('Prepare Interview Agent').first().json.systemPrompt,\n    \"Welcome Message\": $('Prepare Interview Agent').first().json.welcomeMessage\n    \n  }\n}];"
      },
      "id": "0da13ad0-3931-4fc9-9880-15fb65ae3d3f",
      "name": "Save Agent Info",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        496
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130239116,
          "mode": "list",
          "cachedResultName": "Interview Agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c/edit#gid=1130239116"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agent ID": "={{ $json['Agent ID'] }}",
            "Agent Name": "={{ $json['Agent Name'] }}",
            "Interview Link": "={{ $json['Interview Link'] }}",
            "Job Description": "={{ $json['Job Description'] }}",
            "System Prompt": "={{ $json['System Prompt'] }}",
            "Welcome Message": "={{ $json['Welcome Message'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Agent ID",
              "displayName": "Agent ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Name",
              "displayName": "Agent Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview Link",
              "displayName": "Interview Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "System Prompt",
              "displayName": "System Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Welcome Message",
              "displayName": "Welcome Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1df0ef79-1e3e-44da-b3a1-4b4aed333486",
      "name": "Save to Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1920,
        496
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ou6ciRrfN3tE5MZc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.agentName }}",
        "system_prompt": "={{ $json.systemPrompt }}",
        "greeting": "={{ $json.welcomeMessage }}",
        "email": "reddybharath7131@gmail.com",
        "callback_events": [
          "call_ended"
        ],
        "callback_url": "https://pertinacious-speechlessly-lidia.ngrok-free.dev/webhook-test/a5b6faad-8f40-4639-8a10-af4d939c88e3"
      },
      "type": "CUSTOM.trugen",
      "typeVersion": 1,
      "position": [
        1216,
        496
      ],
      "id": "32e632d4-97bb-455b-9f9f-76afb4a2d73a",
      "name": "Create a new agent",
      "credentials": {
        "trugenApi": {
          "id": "eNwFcMuVVlTBEaYL",
          "name": "Trugen account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI interviewer evaluator with expertise in assessing candidates across technical, behavioral, and strategic competencies.\n\nAnalyze the completed interview conversation below and produce a comprehensive hiring assessment.\n\nJob Context:\n{{ $json.job_context || 'This is a role-related interview focused on product positioning, go-to-market strategy, communication skills, and relevant domain expertise.' }}\n\nRole Details:\n- Position: {{ $json.role_title || 'Not specified' }}\n- Department: {{ $json.department || 'Not specified' }}\n- Level: {{ $json.level || 'Not specified' }}\n\nCandidate Name:\n{{ $json.user_name || 'Unknown' }}\n\nCandidate ID:\n{{ $json.user_id || 'N/A' }}\n\nConversation ID:\n{{ $json.conversation_id || $json.id || 'N/A' }}\n\nInterview Transcript:\n{{ \n  ($json.transcript || [])\n    .map(t => `[${t.message_timestamp || t.timestamp || 'N/A'}] ${t.role?.toUpperCase() || 'UNKNOWN'}: ${t.content || ''}`)\n    .join('\\n')\n}}\n\n---\n\n## Evaluation Framework\n\n### Core Competencies (Assess each):\n\n1. **Role Understanding** (0-100)\n   - Grasp of position requirements and responsibilities\n   - Industry and domain knowledge relevance\n   - Alignment between experience and role expectations\n   - Understanding of key success factors\n\n2. **Communication Clarity** (0-100)\n   - Articulation quality and coherence\n   - Completeness of responses\n   - Grammar and vocabulary appropriateness\n   - Ability to structure thoughts logically\n   - Response to follow-up questions\n\n3. **Strategic Thinking** (0-100)\n   - Problem-solving approach and methodology\n   - Use of frameworks or structured thinking\n   - Long-term vision and planning\n   - Ability to connect tactical actions to strategic goals\n   - Market and competitive awareness\n\n4. **Relevance of Examples** (0-100)\n   - Quality and specificity of past experience examples\n   - Applicability to the role requirements\n   - Evidence of impact and outcomes\n   - Use of metrics and quantifiable results\n   - Ownership and accountability demonstrated\n\n5. **Depth of Answers** (0-100)\n   - Substantive vs. superficial responses\n   - Level of detail and elaboration\n   - Proactive expansion on topics\n   - Technical or domain-specific depth\n   - Follow-through on questions asked\n\n6. **Confidence & Coherence** (0-100)\n   - Self-assurance without arrogance\n   - Consistency across responses\n   - Logical flow of ideas\n   - Handling of difficult questions\n   - Energy and engagement level\n\n7. **Analytical & Data Skills** (0-100)\n   - Data-driven decision making\n   - Metrics and measurement understanding\n   - Problem decomposition ability\n   - Evidence of analytical rigor\n\n8. **Collaboration & Leadership** (0-100)\n   - Cross-functional teamwork examples\n   - Stakeholder management capability\n   - Influence without authority\n   - Conflict resolution and negotiation\n\n### Critical Assessment Factors\n\n**Red Flags to Identify:**\n- Incomplete, fragmented, or incoherent responses\n- Inability to provide specific examples when directly asked\n- Vague or evasive answers to direct questions\n- Lack of metrics, data, or measurable outcomes\n- Significant communication issues despite claimed senior experience\n- Inconsistencies or contradictions in stated experience\n- Minimal responses like \"Go on\" or \"Yes\" without elaboration\n- Repetitive phrases without adding substance\n- Avoiding ownership or accountability\n- Negative attitude or blame-shifting\n\n**Positive Indicators:**\n- Specific, quantifiable examples with clear outcomes\n- Structured responses (STAR method, frameworks)\n- Unprompted elaboration on complex topics\n- Questions demonstrating strategic thinking\n- Evidence of learning from failures\n- Clear articulation of impact and ownership\n- Natural use of metrics and data\n- Collaborative mindset with appropriate confidence\n- Enthusiasm and genuine interest in role\n\n### Scoring Calibration\n\n**Fit Score Ranges (0-100):**\n- **90-100**: Exceptional - Strong Hire\n  - Exceeds requirements significantly\n  - Immediate high impact expected\n  - Minimal onboarding needed\n  - Clear culture fit\n\n- **75-89**: Strong Candidate - Hire\n  - Meets or exceeds most requirements\n  - High confidence in success\n  - Normal onboarding expected\n  - Good culture fit\n\n- **60-74**: Good Candidate - Hire with Reservations\n  - Meets core requirements\n  - Some development areas identified\n  - May need additional support\n  - Acceptable culture fit\n\n- **45-59**: Borderline - Requires Additional Evaluation\n  - Mixed signals on key requirements\n  - Significant concerns exist\n  - Additional interviews recommended\n  - Unclear culture fit\n\n- **Below 45**: Weak Candidate - Reject\n  - Does not meet minimum requirements\n  - Multiple critical gaps\n  - High risk of failure\n  - Poor culture fit\n\n**Recommendation Types:**\n- **strong_hire**: Exceptional fit, compete aggressively to secure\n- **hire**: Good fit, extend offer with standard terms\n- **borderline**: Mixed, conduct additional evaluation before decision\n- **reject**: Insufficient fit, decline to move forward\n\n---\n\n## Output Requirements\n\nReturn ONLY valid JSON with NO markdown, NO code fences, NO explanations.\n\n**Required JSON Structure:**\n\n{\n  \"candidateName\": \"{{ $json.user_name || 'Unknown' }}\",\n  \"candidateId\": \"{{ $json.user_id || 'N/A' }}\",\n  \"conversationId\": \"{{ $json.conversation_id || $json.id || 'N/A' }}\",\n  \"roleAppliedFor\": \"string - extract from context\",\n  \"interviewDate\": \"string - extract from timestamps\",\n  \"interviewDuration\": \"string - calculate from first to last timestamp\",\n  \"fitScore\": 0-100,\n  \"recommendation\": \"strong_hire | hire | borderline | reject\",\n  \"confidenceLevel\": \"high | medium | low\",\n  \"competencyScores\": {\n    \"roleUnderstanding\": 0-100,\n    \"communicationClarity\": 0-100,\n    \"strategicThinking\": 0-100,\n    \"relevanceOfExamples\": 0-100,\n    \"depthOfAnswers\": 0-100,\n    \"confidenceCoherence\": 0-100,\n    \"analyticalSkills\": 0-100,\n    \"collaborationLeadership\": 0-100\n  },\n  \"strengths\": [\n    \"Specific strength with supporting evidence from transcript - include quote or example\",\n    \"Another strength with concrete evidence\"\n  ],\n  \"concerns\": [\n    \"Specific concern with supporting evidence from transcript - include quote or example\",\n    \"Another concern with concrete evidence\"\n  ],\n  \"redFlags\": [\n    \"Critical issue with evidence (only if severe concerns exist)\"\n  ],\n  \"summary\": \"2-3 sentence balanced, concise assessment that synthesizes overall findings and compares candidate against role requirements. Must be objective and evidence-based.\",\n  \"detailedAnalysis\": {\n    \"communicationQuality\": \"string - detailed assessment with examples from transcript\",\n    \"experienceDepth\": \"string - evaluation of past experience relevance and depth\",\n    \"strategicCapability\": \"string - analysis of strategic thinking with examples\",\n    \"technicalKnowledge\": \"string - assessment of domain/technical expertise\",\n    \"culturalFit\": \"string - evaluation based on values, attitude, and approach\"\n  },\n  \"keyQuotes\": [\n    {\n      \"quote\": \"Exact verbatim quote from candidate\",\n      \"context\": \"What question/topic this was addressing\",\n      \"analysis\": \"What this quote reveals about the candidate\",\n      \"impact\": \"positive | neutral | negative\"\n    }\n  ],\n  \"gapsIdentified\": [\n    \"Specific skill/knowledge gap with explanation and evidence\"\n  ],\n  \"hiringRisk\": \"low | medium | high\",\n  \"riskFactors\": [\n    \"Specific risk factor with explanation and potential mitigation\"\n  ],\n  \"developmentAreas\": [\n    \"Area where candidate would need support/training if hired\"\n  ],\n  \"nextSteps\": [\n    \"Specific, actionable recommendation for hiring process\",\n    \"Another concrete next step\"\n  ],\n  \"comparisonToBenchmark\": \"string - how candidate compares to typical successful hires for this role level and function\",\n  \"interviewQuality\": \"string - assessment of interview depth, candidate engagement, and data quality for decision-making\"\n}\n\n---\n\n## Critical Rules - MUST FOLLOW\n\n### Objectivity & Evidence Standards:\n1. ✅ **Evidence-Based ONLY**: Base ALL assessments exclusively on actual transcript content\n2. ✅ **No Assumptions**: Never invent facts, assume capabilities, or fill gaps with speculation\n3. ✅ **No Hallucinations**: Do not reference information not present in the transcript\n4. ✅ **Quote Accuracy**: All quotes must be verbatim from the transcript\n5. ✅ **Balanced Assessment**: Identify both strengths AND weaknesses fairly\n6. ✅ **Context Awareness**: Consider role level (junior/mid/senior) in setting expectations\n7. ✅ **Pattern Recognition**: Look for consistency or inconsistency across multiple responses\n8. ✅ **Incomplete = Red Flag**: Note when answers are incomplete, vague, or avoid the question\n\n### Scoring Integrity:\n- Fit score must be mathematically justified by competency scores\n- Higher scores (75+) require multiple strong examples and clear evidence\n- Lower scores (below 60) require specific concerns and gaps\n- Borderline scores (55-70) must explain mixed signals clearly\n- Do not inflate scores based on claimed experience alone - evaluate actual demonstrated capability\n\n### Response Quality:\n- Summary must be 2-3 sentences, not longer\n- Strengths must include specific evidence/quotes\n- Concerns must include specific evidence/quotes\n- All assessments must tie back to actual transcript content\n- Use professional, objective language without bias\n- Avoid generic statements - be specific and evidence-based\n\n### Output Format:\n- Return ONLY pure JSON\n- NO markdown formatting\n- NO code fence blocks (```)\n- NO explanatory text before or after JSON\n- NO comments in JSON\n- Ensure valid JSON syntax (proper quotes, commas, brackets)\n- Test JSON validity before returning\n\n---\n\nNow analyze the interview transcript provided above and return your evaluation in the exact JSON format specified.",
              "role": "system"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "d573b8f2-5a4d-4976-8252-08028c5c8088",
      "name": "Analyze Interview",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1248,
        1376
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "mHjcWhupRubJYtTN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// Parse AI analysis output\n// ===============================\nconst aiOutput = $input.first().json.message.content;\n\n// Convert from string to JSON\nlet analysis;\ntry {\n  analysis = JSON.parse(aiOutput);\n} catch (err) {\n  throw new Error('Failed to parse LLM output: ' + err.message);\n}\n\n// ===============================\n// Extract metadata from the AI output itself\n// ===============================\nconst candidateName = analysis.candidateName || 'Unknown';\nconst candidateId = analysis.candidateId || 'N/A';\nconst conversationId = analysis.conversationId || $json.conversation_id || $json.id || 'N/A';\nconst callLink = $json.call_link || 'N/A';\nconst interviewDate = $now.toFormat('dd.MM.yyyy');\nconst duration = $json.duration_minutes || 'N/A';\n\n// ===============================\n// Format output for Google Sheets\n// ===============================\nreturn [{\n  json: {\n    \"Candidate Name\": candidateName,\n    \"Candidate ID\": candidateId,\n    \"Conversation ID\": conversationId,\n    \"Interview Date\": interviewDate,\n    \"Duration (minutes)\": duration,\n    \"Fit Score\": analysis.fitScore || '',\n    \"Recommendation\": analysis.recommendation || '',\n    \"Strengths\": analysis.strengths?.join(\"; \") || '',\n    \"Concerns\": analysis.concerns?.join(\"; \") || '',\n    \"Summary\": analysis.summary || '',\n    \"Next Steps\": analysis.nextSteps?.join(\"; \") || '',\n    \"Call ID\": callLink,\n    \"Analyzed On\": $now.toISO(),\n  }\n}];\n"
      },
      "id": "0e030117-9478-45a7-a8be-be9d26c25823",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        1376
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1941360756,
          "mode": "list",
          "cachedResultName": "Interview Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c/edit#gid=1941360756"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $json['Candidate Name'] }}",
            "Interview Date": "={{ $json['Interview Date'] }}",
            "Duration (minutes)": "={{ $json['Duration (minutes)'] }}",
            "Fit Score": "={{ $json['Fit Score'] }}",
            "Recommendation": "={{ $json.Recommendation }}",
            "Strengths": "={{ $json.Strengths }}",
            "Concerns": "={{ $json.Concerns }}",
            "Summary": "={{ $json.Summary }}",
            "Next Steps": "={{ $json['Next Steps'] }}",
            "Call ID": "={{ $json['Call ID'] }}",
            "Analyzed On": "={{ $json['Analyzed On'] }}",
            "Duration": "={{ $json['Duration (minutes)'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interview Date",
              "displayName": "Interview Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (minutes)",
              "displayName": "Duration (minutes)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fit Score",
              "displayName": "Fit Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concerns",
              "displayName": "Concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Steps",
              "displayName": "Next Steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call ID",
              "displayName": "Call ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analyzed On",
              "displayName": "Analyzed On",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e98f53f0-1913-4820-bfb1-b1697fdeee49",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2096,
        1376
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ou6ciRrfN3tE5MZc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a5b6faad-8f40-4639-8a10-af4d939c88e3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        1376
      ],
      "id": "79a6bc42-2481-491a-88bd-1ee9f69d46bd",
      "name": "Webhook",
      "webhookId": "a5b6faad-8f40-4639-8a10-af4d939c88e3"
    },
    {
      "parameters": {
        "resource": "conversation",
        "conversation_id": "={{ $json.body.conversation_id }}",
        "wait_for_completion": true
      },
      "type": "CUSTOM.trugen",
      "typeVersion": 1,
      "position": [
        816,
        1376
      ],
      "id": "00f4d10f-230c-4497-8192-73648fa87045",
      "name": "Get conversation details",
      "credentials": {
        "trugenApi": {
          "id": "eNwFcMuVVlTBEaYL",
          "name": "Trugen account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🟢 Step 1: Add Your Job Description\n\n**Simply paste your complete job posting in the job description node**\n\nInclude:\n- Job title\n- Company name\n- Responsibilities\n- Requirements\n- Any other relevant details\n\nThe AI will understand everything from your text!",
        "height": 520,
        "width": 432,
        "color": 5
      },
      "id": "5b5a65e0-5357-49da-87c6-9baa84e427cd",
      "name": "Job Description Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔵 Step 2: Create Your Interview Agent\n\n**Click the button below to:**\n1. Create your AI interviewer\n2. Get your interview link\n\nThis only needs to be done ONCE!",
        "height": 424,
        "width": 478,
        "color": 7
      },
      "id": "1e711111-b960-4ec4-83b3-ac7b1dacc4f9",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✅ Setup Complete!\n\n**Your interview link:**\n`https://app.trugen.ai/agent/[agent-id]`\n\n \nThis step will now setup our agent id and job description which is now automatically passed and used by webhook.",
        "height": 408,
        "width": 331,
        "color": 2
      },
      "id": "7a5cbd7f-d32d-4677-b8a4-0949d4ee9318",
      "name": "Success!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Google Sheets Setup\n\n**Quick Start**:\n1. Copy our template sheet:  https://docs.google.com/spreadsheets/d/1_hqZsoN92-F7teX5sBkvb-BJ8U_6jTsJP90hOQKUE4c/edit?usp=sharing\n2. Connect your account credential in the node.\n3. Update the Google Sheets node with your new document and select **'Interview Agents'**  sheet\n (if not automatically set)\n3. You will get interview link in this sheet which you can share with candidates and start interviewing\n\n**Connect your Google Sheets here →**",
        "height": 520,
        "width": 444,
        "color": 6
      },
      "id": "69c4567b-0d69-4166-9922-6d3401c105d3",
      "name": "Sheet Headers",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🟣 Step 3: Automated Interview Analysis\n\n**This section runs automatically to:**\n- Receive completed interviews\n- Analyze candidate responses\n- Save results to Google Sheets\n\n**Before activating:**  \nMake sure to configure the webhook URL in the **Create Agents → Callback URL** settings and set the **Callback Event** to **Call Ended**.\n",
        "height": 444,
        "width": 488,
        "color": 6
      },
      "id": "479ae1fe-9240-4b40-8ac3-026bd1667309",
      "name": "Automated Analysis",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 Interview Processing & AI Evaluation\n\nThis section performs an automated, in-depth assessment of completed interviews by:\n\n1. **Extracting Interview Data**  \n   - Captures candidate details, metadata, and the full interview transcript from completed conversations.\n\n2. **AI Interview Evaluation**  \n   - Analyzes candidate responses across technical, behavioral, strategic, and role-specific competencies using a structured evaluation framework.\n\n3. **Structured Assessment Output**  \n   - Generates a detailed, evidence-based hiring assessment in a strict JSON format for downstream processing, storage, or review.\n\n### The AI evaluation includes:\n- Overall fit score (0–100)\n- Hiring recommendation (strong_hire, hire, borderline, reject)\n- Competency-wise scores (communication, strategy, role understanding, etc.)\n- Key strengths with supporting evidence from the transcript\n- Concerns, gaps, and red flags (if any), backed by quotes\n- Risk assessment and confidence level\n- Suggested next steps in the hiring process\n- Concise executive summary and detailed analysis sections\n\nThis automated analysis enables consistent, objective, and data-driven hiring decisions by evaluating candidates strictly based on interview evidence, without assumptions or bias.\n",
        "height": 844,
        "width": 684,
        "color": 4
      },
      "id": "29d88bf2-a02b-4a2c-97cd-42da95533942",
      "name": "Processing Steps",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📊 Google Sheets Connection\n\n**Quick Start**:\n1. Use the same document but select **'Interview Results'**  sheet this time, the template includes all required columns!\n\n**Connect your Google Sheets here →**",
        "height": 364,
        "width": 480,
        "color": 6
      },
      "id": "1cfb84f7-088a-4aad-8f33-444123e32068",
      "name": "Sheet Headers1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        1168
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚠️ Important Notes\n\n### 1. API Key Setup\nTo use this workflow, you must first generate an API key from the dashboard:  \nhttps://app.trugen.ai/dashboard/home  \n\nAdd this API key to the relevant credential or environment configuration before running the workflow.\n\n### 2. Agent Creation & Identification\nEnsure the agent is successfully created during the setup flow. The generated **Agent ID** is stored and reused throughout the workflow for interview handling and analysis.\n\n### 3. Run the Setup Flow at Least Once\nYou must run the setup flow at least once so that:\n- The agent information is created and saved\n- The connected Google Sheet contains the required initial structure and columns\n\nThis is required before interview results can be stored correctly.\n\n### 4. Webhook Configuration Is Mandatory\nBefore activating the interview analysis flow:\n- Configure the **Webhook URL** in **Create Agents → Callback URL**\n- Set the **Callback Event** to **Call Ended**\n\nWithout this configuration, completed interviews will not trigger automated analysis.\n\n### 5. Agent Selection Logic\nBy default, the workflow uses the **most recently created agent** from the setup step.\nIf you want to analyze interviews for a **specific agent**:\n- Manually copy the required Agent ID from the **Save Agent Info** node\n- Use it explicitly when fetching or filtering conversation data\n\nThis ensures analysis is performed on the intended agent only.\n",
        "height": 932,
        "width": 516,
        "color": 3
      },
      "id": "e6e2d6ac-812d-41ba-87ad-5e5403b9f58a",
      "name": "Important!",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# SETUP FLOW ->",
        "height": 80,
        "width": 352,
        "color": 7
      },
      "id": "cfd6b3c1-ecf2-4459-8370-5bc87a747f64",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# INTERVIEW FLOW ->",
        "height": 80,
        "width": 384,
        "color": 7
      },
      "id": "69e977e0-0c81-417c-957e-64ed03b476cc",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1376
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "📝 Your Job Description": {
      "main": [
        [
          {
            "node": "Prepare Interview Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Click to Start Setup": {
      "main": [
        [
          {
            "node": "📝 Your Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent Info": {
      "main": [
        [
          {
            "node": "Save to Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Interview": {
      "main": [
        [
          {
            "node": "Format for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Sheets": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interview Agent": {
      "main": [
        [
          {
            "node": "Create a new agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new agent": {
      "main": [
        [
          {
            "node": "Save Agent Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get conversation details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation details": {
      "main": [
        [
          {
            "node": "Analyze Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dbc20e81-ec46-42be-a33f-9667474d8963",
  "meta": {
    "instanceId": "e1198f585f1d67aa5daf373ed640b4d6557142b5cb697dfb9b69d31d6dcaab77"
  },
  "id": "9628WsEx98oO5VWS",
  "tags": []
}